/* 共通 */
* {
  box-sizing: border-box;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul,
li {
  list-style: none;
}
a {
    color: black;
  text-decoration: none;
}
h3 {
  font-size: 1.8rem;
}
/* body */
body {
  margin: 0;
}

.container {
  width: 100%;
  height: 54rem;
  text-align: center;
}
.thisMonth {
  background-color: pink;
}
.beforeMonth{
  background-color: yellow;
}
.afterMonth{
  background-color: yellow;
}
.calendarTable {
  width: 100%;
  height: 100%;
  /* background-color: blue; */
}
.dayOfWeek {
  background-color: #aad6ec;
  height: 3rem;
}
.dayNumber {
  font-size: 1.5rem;
}
.today {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: orange !important;
}
/* .sunday {
  color: red;
}
.saturday{
    color: blue;
} */
th:nth-of-type(7), td:nth-of-type(7) {
    /* color: blue ; */
    background-color: #4545f5;
}
th:nth-of-type(1), td:nth-of-type(1) {
    /* color: red ; */
    background-color: #e45252;
}
